{% extends 'layouts/main.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/hindi_movies.css' %}">
{% endblock head %}

{% block content %}



<!--    movie section   -->

   <h1 class="movie_title">HINDI MOVIES</h1>
    
    
    <div class="container">
        {% for i in all %}
        <a href="/one/{{i.id}}">
            <div class="movies">
                <span>{{ i.language | title }}</span>
                {% if i.image %}
                <img src="{{ i.image.url }}" class="movie_poster">
                {% else %}
                <p>No image available</p>
                {% endif %}
                <h2>{{ i.title }}</h2>
                <p>{{ i.movie_type }}</p>
            </div></a>
        {% endfor %}
        </div>

{% endblock content %}


{% block script %}
{% endblock script %}