*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Raleway:wght@600;700&display=swap');


:root {
  --primary: #FF1744;
  --orange: #FF5722;
  --secondary: #2979FF;
  --blue-dark: #0065F8;
  --blue-light: #00CAFF;
  --sky-blue: #00FFDE;
  --accent: #FFEB3B;
  --black-light:#403e3e;
  --text-dark: #212121;
  --text-light: #FFFFFF;
  --bg-light: #FFFFFF;
  --bg-dark: #121212;
  --bg-smoke: #f5f5f5;
  --light-green: #2ecc71;
}


/* -------------  Global CSS  --------------*/

a{
    text-decoration: none;
}

img{
    width: 100%;
    display: block;
}

h1,h2,h3,h4{
    letter-spacing: 0.5px;
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

h4{
    font-size: 0.875rem;
}

p{
    margin-bottom: 1.75rem;
}


/* ----------  header scetion  ------------  */

body{
    z-index: -3;
    position: relative;
}

header{
    z-index: -2;
    position: relative;
}

.head{
    width: 100%;
    position: relative;
    z-index: -1;
}

.head h1{
    font-size: 2em;
    font-family: "Raleway", sans-serif;
    padding: 1rem;
    width: 50%;
    border-bottom: 1px solid black;
    margin: 0;
    color: var(--text-dark);
}

.head .profile_click{
    width: 50%;
    height: 56.5%;
    display: flex;
    justify-content: end;
    position: absolute;
    top: 0.1rem;
    right: 0;
    padding: 1rem;
    border-bottom: 1px solid black;
}

.head .profile_click i{
    font-size: 2em;
    cursor: pointer;
    width: fit-content;
    margin: 0.4rem 0rem 0 0;
    cursor: pointer;
}


.head .profile_click .sign_button{
    width: 50%;
    padding: 0.8rem;
    border-radius: 5px;
    border: none;
    outline: 1px solid gray;
    cursor: pointer;
    margin: 0 1rem 0 0;
    cursor: pointer;
}

.head .profile_click .alter_name{
    position: absolute;
    font-size: 1.3em;
    right: 3.5rem;
    top: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.head .search{
    position: relative;
    margin-top: 1rem;
}

.head .search .search_form{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.head .search .search_form .search_input{
    width: 65%;
    padding: 0.7rem;
    padding-left: 2rem;
    border-radius: 5px;
    border: none;
    outline: 1px solid gray;
}

.head .search i{
    position: absolute;
    top: 0.7rem;
    left: 1.3rem;
    color: gray;
}

.head .search .search_form #submit{
    width: 25%;
    border-radius: 5px;
    border: none;
    outline: 1px solid gray;
    cursor: pointer;
}

@media screen and (min-width:600px) {

    .head .profile_click .sign_button{
        max-width: 30%;
    }

    .head .search i{
        position: absolute;
        top: 0.7rem;
        left: 1.5rem;
    }

}

@media screen and (min-width:750px){

    .head .search{
        width: 100%;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
    }

    .head .search .search_form .search_input{
        width: 30%;
    }

    .head .search i{
        position: absolute;
        top: 0.7rem;
        left: 35.5%;
    }

    .head .search .search_form #submit{
        display: none;
    }

    .head .profile_click{
        height: 98%;
    }
}


@media screen and (min-width:900px) {

    .head .profile_click .sign_button{
        max-width: 20%;
        margin: 0 2rem 0 0;
    }

    .head .profile_click .alter_name{
        position: absolute;
        font-size: 1.3em;
        right: 5rem;
        top: 2rem;
    }   


    .head .profile_click i{
        margin: 0.4rem 1rem 0 0;
    }

    .head .search{
        width: 100%;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
    }

    .head .search .search_form .search_input{
        width: 40%;
    }

    .head .search i{
        position: absolute;
        top: 0.7rem;
        left: 30.5%;
    }

    .head .search .search_form #submit{
        display: none;
    }
    
}


/* ----------  navigation scetion  ------------  */

.sub_head{
    width: 100%;
    margin-top: 1rem;
    background-color: var(--orange);
    
}

.sub_head nav{
    width: 100%;
    display: flex;
    padding: 1rem;
}

.sub_head nav ul{
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

.sub_head nav ul li{
    width: 100%;
    position: relative;

}

.sub_head nav ul li a{
    text-decoration: none;
    color: var(--text-dark);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

@media screen and (min-width:600px){


    .sub_head nav ul{
        display: flex;
        justify-content: end;
    }

    .sub_head nav ul li {
        position: relative;
        width: fit-content;
    }

    .sub_head nav ul li {
        margin: 0 3rem 0 0;
    }
}

@media screen and (min-width:900px) {

    .sub_head{
        margin-top: 0;
    }

    .sub_head nav ul{
        display: flex;
        justify-content: end;
    }

    .sub_head nav ul li {
        margin: 0 3rem 0 0;
    }

    .sub_head nav ul li a{
        position: relative;
        transition: 0.3s;
    }

    .sub_head nav ul li a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 100%;
        height: 2px;
        background-color: var(--bg-light);
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
    }

    .sub_head nav ul li a:hover {
        color: var(--bg-light);
    }

    .sub_head nav ul li a:hover::after {
        transform: scaleX(1);
    }
    
}


/* ------------ profile section  ----------- */

.profile_overlay{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: #b8b8b6;
    opacity: 0.8;
    z-index: 1;
    display: none;
}


.profile_popup_box{
    width: 80%;
    background-color: var(--orange);
    position: absolute;
    top: 0;
    border-radius: 10px;
    text-align: center;
    z-index: 2;
    margin: 3rem;
    transition: 1s;
    animation: one 1s;
    display: grid;
    place-self: center;
    display: none;
}

@keyframes one{
    from{transform: translateY(-500px);}
    to{transform: translateY(0);}
    
}



.profile_popup_box .h1{
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 2.5em;
    padding: 2rem 1rem 1rem 1rem;
    border-bottom: 1px solid black;
}

.profile_popup_box #profile_cancel{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2em;
    cursor: pointer;
}

.profile_popup_box p{
    text-align: center;
    font-size: 1.5em;
    color: var(--text-light);
}

.profile_popup_box .wel{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.profile_popup_box #inner_profile{
    font-size: 5em;
    display: flex;
    justify-self: center;
}

.profile_popup_box .name{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 1.5rem;
    color: var(--text-light);
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.profile_popup_box button{
    width: 100%;
    padding: 0.8rem;
    text-align: center;
    border-radius: 5px;
    border: none;
    outline: 1px solid gray;
    box-shadow: 5px 5px 10px black;
    margin: 2rem;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    left: -2rem;
    transition: 0.3s;
}

.profile_popup_box button:hover{
    background-color: var(--bg-dark);
    color: var(--text-light);
}

@media screen and (min-width:600px){
    .pro{
        display: flex;
        justify-content: center;
    }
    .profile_popup_box{
        width: 70%;
    }
}


@media screen and (min-width:900px){
    .pro{
        display: flex;
        justify-content: center;
    }
    .profile_popup_box{
        width: 50%;
    }
}

@media screen and (min-width:1300px){
    .pro{
        display: flex;
        justify-content: center;
    }
    .profile_popup_box{
        width: 35%;
    }
}

