{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Where’sMySeat</title>
    <link rel="stylesheet" href="{% static 'seat_select.css' %}">

<style>
    @media (max-width: 600px) {
    .seat {
      margin-top: 40px;
    }
  }
</style>

</head>
<body>
   
    <div class="seat_contain">
        <div class="seat">
            <div class="contain">
                <h1 id="h1">How Many Seats You Want?</h1>
                <div class="movies">
                    <img src="{{e.image.url}}">
                </div>
                <div class="text">
                    <h1>{{e.title}}</h1>
                    <p>{{e.location}}</p>
                </div>

                <div class="num_contain">
                    <div class="num"><p>1</p></div>
                    <div class="num"><p>2</p></div>
                    <div class="num"><p>3</p></div>
                    <div class="num"><p>4</p></div>
                    <div class="num"><p>5</p></div>
                    <div class="num"><p>6</p></div>
                    <div class="num"><p>7</p></div>
                    <div class="num"><p>8</p></div>
                    <div class="num"><p>9</p></div>
                    <div class="num"><p>10</p></div>
                </div>

                <form action="/event_success/{{ e.id }}/" method="post">
                    {% csrf_token %}
                    <input type="text" id="value" name="seats" class="store"><br>
                    <input type="submit" value="Book Tickets" id="button">
                </form>
                
            </div>
        </div>
    </div>


    <script>
        nums = document.querySelectorAll(".num")
        
        nums.forEach(function(num) {
            num.addEventListener("click", function() {
                selectedValue = num.querySelector("p").innerText
                document.getElementById("value").value=selectedValue
            })
        })

    </script>
</body>
</html>


