{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Where’sMySeat</title>
    <link rel="stylesheet" href="{% static 'Hindi_movies.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    
    <header>
        <div class="head">
            <h1>Where’sMySeat</h1>
            <div class="search">
                <form action="/search/" method="POST" id="search_form">
                    {% csrf_token %}
                    <input type="text" name="title" placeholder="Search">
                    <input type="submit" id="submit" value="Search">
                </form>
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <button class="sign_button">Sign up</button>
            <i class="fa-solid fa-user" id="profile"></i>
           
        </div>
    </header>

    <!--    navigation section   -->

    <div class="sub_head">
        <nav>
            <ul>
                <li><a href="/home/">HOME</a></li>
                <li><a href="/movies/">MOVIES</a></li>
                <li><a href="/events/">EVENTS</a></li>
                <li><a href="/sports/">SPORTS</a></li>
                <li><a href="/my_booking/">MY BOOKING</a></li>
                <li><a href="/admin_page/">ADMIN</a></li>
            </ul>
        </nav>
    </div>


    <!--     signup section    -->
    
    <div class="overlay"></div>

    <div class="popup_box">

        <h2>Sign up</h2>
        <i class="fa-solid fa-xmark" id="cancel"></i>

        <form action="/signup/" method="POST" id="signup_form">
            {% csrf_token %}

            <input type="text" name="username" placeholder="Username">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password1" placeholder="Password">
            <input type="password" name="password2" placeholder="Confirm Password">
            <input type="submit" value="Sign up" class="signup_button">

            <span>Already have an account?<a href="/login/">Login</a></span>
        </form>
    </div>


    


    <!--    profile section    -->


    <div class="profile_overlay"></div>

    <div class="profile_popup_box">
        <h1 id="h1">PROFILE</h1>
        <i class="fa-solid fa-xmark" id="profile_cancel"></i>
        <p>{{user.email}}</p>

        <h1 id="wel">Welcome...!</h1>

        <i class="fa-solid fa-user" id="inner_profile"></i>

        <h1>{{user.username | upper}}</h1>

        <a href="/login/"><button class="login_button">Login</button></a>
        <a href="/logout/"><button class="logout_button">Logout</button></a>
    </div>


   <!--    movie section   -->

   <h1 class="movie_title">HINDI MOVIES</h1>
    
    
    <div class="container">
        {% for i in all %}
        <a href="/one/{{i.id}}">
            <div class="movies">
                <span>{{ i.language | title }}</span>
                {% if i.image %}
                <img src="{{ i.image.url }}">
                {% else %}
                <p>No image available</p>
                {% endif %}
                <h2>{{ i.title }}</h2>
                <p>{{ i.movie_type }}</p>
            </div></a>
        {% endfor %}
        </div>





    
<script>
    
    //     signup section
        
    sign_up = document.querySelector(".sign_button")
    overlay = document.querySelector(".overlay")
    popup_box = document.querySelector(".popup_box")
    
    sign_up.addEventListener("click",function(){
    
        overlay.style.display = "block"
        popup_box.style.display = "block"
    })
    
    cancel = document.getElementById("cancel")
    
    cancel.addEventListener("click",function(){
        
        overlay.style.display = "none"
        popup_box.style.display = "none"
    })

        //     profile section
    
        profile_overlay = document.querySelector(".profile_overlay")
        profile_popup_box = document.querySelector(".profile_popup_box")
        profile = document.getElementById("profile")
    
        profile.addEventListener('click',function(){
            profile_overlay.style.display = "block"
            profile_popup_box.style.display = "block"
        })
    
        profile_cancel = document.getElementById("profile_cancel")
    
        profile_cancel.addEventListener('click',function(){
            profile_overlay.style.display = "none"
            profile_popup_box.style.display = "none"
        })
    
    </script>
    

</body>
</html>