{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Where’sMySeat</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

    <div class="login_overlay"></div>

    <div class="login_popup_box">

        <h2>Login</h2>
        <a href="/home/"><i class="fa-solid fa-xmark" id="cancel"></i></a>

        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}

        <form action="/login/" method="POST" id="login_form">
            {% csrf_token %}

            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login" class="login_button">

            <span>Already have an account?<a href="/signup/">signup</a></span>
        </form>

    </div>
</body>
</html>