{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Where’sMySeat</title>
</head>
<body>
    <h2>My Bookings</h2>

{% for i in all %}
  <div style="border:1px solid #ccc; padding:10px; margin-bottom:10px;">
    <p><strong>User Name:</strong>{{ user.username | upper }}</p>
    <p><strong>Title:</strong> {{ i.title }}</p>
    <p><strong>Language:</strong> {{ i.language }}</p>
    <p><strong>Type:</strong> {{ i.movie_type }}</p>
    <p><strong>Cinema Name:</strong> {{ i.cinemas_name }}</p>
  </div>
{% empty %}
  <p>No bookings found.</p>
{% endfor %}
</body>
</html>