{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Where’sMySeat</title>
    <link rel="stylesheet" href="{% static 'my_booking.css' %}">
</head>
<body>
  <div id="my_booking">
    <h2 id="my">My Bookings</h2>
    <h2 id="username">{{ user.username }}</h2>
  </div>

  <div class="container">
    {% if all %}
      {% for i in all %}
        <div class="movies">
          {% if i.language %}
            <span>{{ i.language }}</span>
          {% endif %}

          {% if i.image %}
            <img src="{{ i.image.url }}">
          {% else %}
            <p>No image available</p>
          {% endif %}
          
          <h2>{{ i.title }}</h2>
          
          {% if i.movie_type %}
            <p>{{ i.movie_type }}</p>
          {% endif %}
          
          {% if i.cinemas_name %}
            <p>{{ i.cinemas_name }}</p>
          {% endif %}
          
          {% if i.location %}
            <p>{{ i.location }}</p>
          {% endif %}

          {% if i.sports_type %}
            <p>{{ i.sports_type }}</p>
          {% endif %}
        </div>
      {% endfor %}
    {% else %}
      <p>No bookings found.</p>
    {% endif %}
  </div>
  
</body>
</html>