{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Where’sMySeat</title>
    <link rel="stylesheet" href="{% static 'sports_success.css'%}">
</head>
<body>
    
    <div class="container">
        <div class="contain">
            <div class="movies">
                <img src="{{x.image.url}}">
            </div>
            <div class="text">
                <h1>{{x.title}}</h1>
                <h3>{{x.location}}</h3>
                <p>{{x.sports_type}}</p>
            </div>
            <h1>Successfully Booking...!</h1>
        </div>
    </div>

    
    
</body>
</html>